/* TaskForm Component Styles */

/* Form Styling (C: Create) */
form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
}

form input[type="text"] {
    flex-grow: 1;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="text"]:focus {
    border-color: #4a90e2;
    outline: none;
}

/* Style for the Priority Select in the form */
form .priority-select {
    padding: 10px 15px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(4, 4, 4);
    cursor: pointer;
}

form button[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.971);
    color: white;
}

form button[type="submit"]:hover {
    background-color: rgba(255, 170, 0, 0.971);
}
